@model SI_Dital.Models.Citizens
@{
    var backgroundFooter = ViewBag.BackgroundFooter ?? "/assets/images/backgrounds/background-1.jpg";
}
<!DOCTYPE html>
<html lang="en">
<body class="u-bg-overlay g-bg-img-hero g-color-white g-bg-white-opacity-0_8--after text-center text-md-left" style="background-image: url(@backgroundFooter);">
    <main class="g-py-20">
        <section class="g-py-100">
            <div class="container u-bg-overlay__inner">

                <div class="row">
                    <!-- Profile Sidebar -->
                    <div class="col-lg g-mb-50 g-mb-0--lg">
                        <!-- User Image -->

                        <div class="u-shadow-v1-5 g-line-height-2 g-pa-10 g-mb-10  g-bg-white g-rounded-5" role="alert">

                            <div class="list-group">

                                <!-- Profile -->
                                <a href="profile" class="list-group-item list-group-item-action justify-content-between active">
                                    <span><i class="icon-cursor g-pos-rel g-top-1 g-mr-8"></i> Profil</span>
                                </a>
                                <!-- End Profile -->
                                <!-- My Projects -->
                                <a href="history" class="list-group-item list-group-item-action justify-content-between">
                                    <span><i class="icon-layers g-pos-rel g-top-1 g-mr-8"></i> Dokumen Saya</span>
                                </a>
                                <!-- End My Projects -->
                            </div>
                            <!-- End Sidebar Navigation -->
                        </div>
                    </div>
                    <!-- End Profile Sidebar -->
                    <!-- Profle Content -->
                    <div class="col-lg-9">
                        <div class="u-shadow-v1-5 g-line-height-2 g-pa-20 g-pa-30--md g-mb-30" role="alert">
                            <div class="card border-0 rounded-0">
                                <div class="js-scrollbar card-block u-info-v1-1 g-bg-white-gradient-v1--after g-height-400 g-pa-0">
                                    <div id="listMyEvent">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-height-30">

            </div>
        </section>
        <!-- End Copyright Footer -->
        <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>

    <div class="u-outer-spaces-helper"></div>

</body>

</html>
@section Scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                    type: "GET",
                    url: "@Url.Action("MyDocuments","Home")",
                    datatype: "html",
                    success: function (data) {
                        //console.log(data);
                       $("#listMyEvent").html(data);
                    }
                });
            });
    </script>




