
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Dashboard";
}

<div class="row g-absolute-centered">
    <img class="g-mb-30--md g-mb-minus-20 mx-auto g-height-auto g-width-250" src="~/assets/images/comming_soon.png" alt="Logo" />
</div>

